<h1>Add new country to visited countries</h1>
<form method="POST" action="/add_country_to_visited">
  <div class="form-wrapper">

    <div>
      <label for="country_name">Country Name</label>
      <input type="text" name="country_name" id="country_name"/>
    </div>

    <div>
      <input type="submit" value="add_country"/>
    </div>

  </div>
</form>
