<h1>Add new country to visited countries</h1>
<form method="POST" action="/add_country_to_visited">
  <div class="form-wrapper">

    <div>
      <label for="name">Country Name</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div>
      <label for="description">Description</label>
      <input type="text" name="description" id="description"/>
    </div>

    <div>
      <label for="visited_select">visited before?:</label>
      <select name="visited" id="visited_select">
          <option value= 'yes'>yes</option>
      </select>
    </div>

    <div>
      <input type="submit" value="add_country"/>
    </div>
  </div>
</form>
