<div class="countries-head">
  <h1>all cities</h1>
</div>
<div class="countries-container">
  <% @city.each do |city| %>

  <div class="country-container">
    <h3><%= city.name.capitalize %></h3>
  </div>
  <% end %>
</div>
