<h1>countries visited</h1>

<div>
  <% @country.each do |country| %>

  <div>
    <h3><a href="/city/<%= country.id %>"><%= country.name %></a></h3>
  </div>

  <% end %>
</div>

<a href="/add_country">Add new country</a>
