<h1>countries visited</h1>

<a href="/cities_visited">cities visisted</a>

<div>
  <% @country.each do |country| %>

  <div>
    <h3><a href="/city/<%= country.id %>"><%= country.name %></a></h3>
  </div>

  <% end %>
</div>
