<html>
<head>
  <link rel="stylesheet" href="/country-style.css">
</head>
<body>
  <nav>
    <a href='/'>Home</a><br>
    <a href='/bucket_list_countries'>bucket_list_countries</a><br>
    <a href='/countries_visited'>countries visited</a><br>
  </nav>
  <%= yield %>

</body>
</html>
