<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<a href='/'>Home</a>
<a href='/bucket_list_countries'>bucket_list_countries</a>
<a href='/countries_visited'>countries visited</a>

  <%= yield %>

</body>
</html>
